@model LearningCenter.Web.ViewModels.Account.ProfileViewModel
@{
    this.ViewData["Title"] = "Profile";
}
<div id="profilePageBg" class="bg-image bg-parallax overlay"></div>



<div id="profilePage" class="container emp-profile">
    <div class="row">
        <div class="col-md-2">
            <img src="@Model.ProfilePicture.Url" class="img-thumbnail" alt="ProfilePicture">
            <hr />
            <form>
                <div class="form-group text-center white-text">
                    <h3 class="white-text">Send Feedback</h3>
                    <label for="exampleFormControlInput1">Your name:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" readonly placeholder="@this.User.Identity.Name"/>
                </div>
                <div class="form-group text-center white-text">
                    <label for="exampleFormControlTextarea1">Feedback Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <div class="profile-head">
                <h1 class="white-text">
                    @Model.FullName
                </h1>
                <h4 class="white-text">
                    @Model.FirstName is an author of @Model.LecturesCount lectures and @Model.Lecturer.Courses.Count() courses!

                </h4>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal Courses (@Model.Lecturer.Courses.Count())</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Feedbacks (@Model.Lecturer.Feedbacks.Count())</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
                        @if (Model.Lecturer.Courses.Any())
                        {
                            <div class="row">
                                @foreach (var course in Model.Lecturer.Courses)
                                {

                                    <div id="courseCard" class="card text-center col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" width="200px" height="175px" src="@course.ThumbnailUrl" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title white-text">@course.Title</h4>
                                            <span class="badge badge-warning"><a asp-action="ChosenCategory" asp-controller="Categories" asp-route-id="@course.CategoryId">Category: @course.CategoryTitle</a></span>
                                            <span class="badge badge-warning"><a asp-action="GetCourse" asp-controller="Courses" asp-route-id="@course.Id">Subcategory: @course.SubCategoryTitle</a></span>
                                            <div>
                                                <a class="btn btn-success btn-sm" asp-controller="Courses" asp-action="GetCourse" asp-route-id="@course.Id">Go to course</a>
                                                @if (this.User.Identity.Name == Model.Email)
                                                {
                                                    <a class="btn btn-danger btn-sm" asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id">Delete</a>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                }
                                <div id="addCourseButton" class="text-center col-md-3">
                                    <h1><a asp-action="Create" asp-controller="Courses"><i class="far fa-plus-square fa-5x"></i></a></h1>
                                    <h3><a asp-action="Create" asp-controller="Courses">Add Course</a></h3>
                                </div>
                            </div>
                        }
                        else
                        {
                            @if (this.User.Identity.Name == Model.Email)
                            {
                                <h3 class="white-text">You don't have any courses yet. <a class="" asp-action="Create" asp-controller="Courses">Create your first course! </a></h3>
                            }
                            else
                            {
                                <h3 class="white-text">@Model.FullName doesn't has any courses yet!</h3>
                            }
                        }

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list-unstyled">
                            <li class="media">
                                <img src="..." class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">List-based media object</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
