@using LearningCenter.Common
@using LearningCenter.Services.Data
@inject ICategoriesService categoryService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/dcdf1db5f7.js" crossorigin="anonymous"></script>

</head>
<body>
    <header id="header" class="transparent-nav">
        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" asp-action="Index" asp-controller="Home">
                    <img src="~/img/LearningCenterLogo6.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->
            <!-- Mobile toggle -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>
        <div id="searchField">

            <div class="active-cyan-4 mb-4 col-md-3 form-group">
                <input class="form-control white-text" type="text" placeholder="Search..." aria-label="Search">
            </div>
            <div id="searchIcon" class="col-md-1">
                <i class="fas fa-search white-text"></i>
            </div>
        </div>
        <div class="container">
            <!-- Navigation -->
            <nav id="nav">
                <ul class="main-menu nav navbar-nav navbar-right d-inline-flex">
                    <li><a asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
                    <li><a asp-action="Index" asp-controller="About"><i class="fab fa-asymmetrik"></i> About</a></li>
                    <li><a asp-action="Index" asp-controller="Categories"><i class="fas fa-sitemap"></i> Categories</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </nav>
            <!-- /Navigation -->

        </div>
    </header>
    <div class="container bg-secondary">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted transparent">
        <div class="container white-text">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
