@using LearningCenter.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/dcdf1db5f7.js" crossorigin="anonymous"></script>

</head>
<body>
    <header id="header" class="transparent-nav">
        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" asp-action="Index" asp-controller="Home">
                    <img src="~/img/LearningCenterLogo6.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->
            <!-- Mobile toggle -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>
        <div class="container">
            <!-- Navigation -->
            <nav id="nav">
               
                <div class="btn-group col-md-2" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                            CATEGORIES <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Dropdown link</a>
                            <a class="dropdown-item" href="#">Dropdown link</a>
                        </div>
                    </div>
                </div>

                
                <div id="searchField" class="form-inline col-md-4">
                    <form >
                        <div class="">
                            <i class="fas fa-search loginRegisterTextColor" aria-hidden="true"></i>
                            <input class="form-control loginRegisterTextColor form-control-sm ml-4" type="text" placeholder="Search"
                                   aria-label="Search">
                        </div>
                    </form>
                </div>
                <ul class="main-menu nav navbar-nav navbar-right d-inline-flex">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a href="#">About</a></li>
                    @if (this.User == null)
                    {
                        <partial name="_LoginPartial" />
                    }
                    else
                    {
                        <li><a href="blog.html">My Account</a></li>
                    }


                </ul>
            </nav>
            <!-- /Navigation -->

        </div>
    </header>
      <div class="container bg-secondary">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted transparent">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
