@model LearningCenter.Web.ViewModels.Courses.CreateCourseInputModel
@{
    ViewData["Title"] = "Create course: ";
}

<div id="createCourseBg" class="bg-image bg-parallax overlay"></div>
<div id="createCourse" class="col-md-12 text-center">
    <section>
        <form>
            <h1 class="white-text">@this.ViewData["Title"]</h1>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="@Model.Title" class="white-text"></label>
                    <input asp-for="@Model.Title" class="form-control white-text" />
                    <span asp-validation-for="@Model.Title" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description" class="white-text"></label>
                    <textarea asp-for="@Model.Description" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Description" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Price" class="white-text"></label>
                    <input asp-for="@Model.Price" class="form-control white-text" />
                    <span asp-validation-for="@Model.Price" class="bg-danger text-danger"></span>
                </div>
            </div>
            <div class="col-md-5 courseSelections">
                <div class="form-group">
                    <label asp-for="@Model.LanguageId" class="white-text"></label>
                    <select asp-for="@Model.LanguageId" asp-items="@Model.LanguagesItems" class="form-control">
                        <option selected="selected">Please select course language</option>
                    </select>
                    <span asp-validation-for="@Model.LanguageId" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.CategoryId" class="white-text"></label>
                    <select id="category" asp-for="@Model.CategoryId" asp-items="@Model.CategoriesItems" class="form-control">
                        <option selected="selected">Please select course category!</option>
                    </select>
                    <span asp-validation-for="@Model.CategoryId" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SubcategoryId" class="white-text"></label>
                    <select id="subcategory" asp-for="@Model.SubcategoryId" asp-items="@Model.SubcategoriesItems" onclick="dropdown()" class="form-control">
                        <option selected="selected">Please select course subcategory!</option>
                    </select>
                    <span asp-validation-for="@Model.SubcategoryId" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Thumbnail" class="white-text"></label>
                    <input asp-for="@Model.Thumbnail" class="form-control" />
                    <span asp-validation-for="@Model.Thumbnail" class="bg-danger text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Create</button>
            </div>

        </form>
    </section>
</div>

@section Scripts {
    <script>
        function dropdown() {
            var chosenCategory = document.querySelector("#category");
            var categoryId = chosenCategory.options[chosenCategory.selectedIndex].value;
            var categoryName = chosenCategory.options[chosenCategory.selectedIndex].text;


            var elements = document.querySelectorAll("#subcategory option");
            
        }

    </script>

    <partial name="_ValidationScriptsPartial" />
}