@using System.Security.Claims;
@model LearningCenter.Web.ViewModels.Courses.CourseViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div id="coursePageBg" class="bg-image bg-parallax overlay"></div>
<div id="coursePage" class=" white-text">
    <div class="card row">
        <div class="col-md-7">
            <div class="col-md-5">
                <h2 class="card-title white-text">@Model.Title</h2>
                <hr />
                <ul>
                    <li><h5 class="white-text"><i class="fas fa-dollar-sign"></i> Price: $@Model.Price</h5></li>
                    <li><h5 class="white-text"><i class="fas fa-user-tie"></i> Author: <a asp-action="Index" asp-controller="Account" asp-route-id="@Model.AuthorId"><u>@Model.AuthorName</u></a>  </h5></li>
                    <li><h5 class="white-text"><i class="fas fa-history"></i> Created on: @Model.CreatedTimeFormated</h5></li>
                    <li><h5 class="white-text"><i class="fas fa-star-half-alt"></i> Rating:  <span id="averageRating">@Math.Round(Model.AverageRating, 1)</span> / 5 (<span id="ratingsCount">@Model.RatingsCount</span>)</h5></li>
                </ul>
                <img id="coursePhotoImg" src="@Model.ThumbnailUrl" class="card-img-top" width="300px" height="300px" alt="ThumbnailPhoto">

            </div>
            <div id="courseDescription" class="col-md-6 text-center">
                <div class="card-body">
                    @if (Model.Students.Any(x => x.StudentId == this.User.FindFirst(ClaimTypes.NameIdentifier).Value))
                    {
                        <a id="removeFromCourseBag" asp-action="RemoveCourseFromBag" asp-controller="Courses" asp-route-id="@Model.Id" class="btn btn-danger card-link">Remove from Courses Bag</a>
                    }
                    else
                    {
                        <a id="addInCourseBag" asp-action="AddCourseInBag" asp-controller="Courses" asp-route-id="@Model.Id" class="btn btn-success card-link">Add In Courses Bag</a>
                    }


                </div>
                <div class="container d-flex justify-content-center mt-200">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="white-text"><i class="far fa-star"></i> Rate course: </h3>
                        </div>
                        <div id="starsId" class="stars">
                            <form action="">
                                <input class="star star-5" id="star-5" type="radio" name="star" onclick="StarClicked(5)" />
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="star" onclick="StarClicked(4)" />
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="star" onclick="StarClicked(3)" />
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="star" onclick="StarClicked(2)" />
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="star" onclick="StarClicked(1)" />
                                <label class="star star-1" for="star-1"></label>
                            </form>
                        </div>
                    </div>
                </div>
                <hr />
                <p class="card-text"><b>Description: </b>@Model.Description</p>
            </div>
        </div>
        <div id="videosBar" class="col-md-5 text-center">
            <div class="col-md-12">
                <h1 class="white-text">LECTURES:</h1>
                <hr />
                @*<div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
                    </div>*@

                <div class="right-bar">
                    <div class="right-bar-panel rightbar-items">
                        <div class="right-bar-panel rightbar-items">
                            <ul id="TopVideosList" class="stacked-list">
                                <li class="media">
                                    <div class="media-left media-top">
                                        <a href="https://www.c-sharpcorner.com/article/rownumber-function-in-microsoft-sql-server-how-to-use-rownumber-in-sql-ser/" style="position: relative"> <img src="https://i.ytimg.com/vi/11ufWI-GR0Y/mqdefault.jpg" width="150" height="115"></a>
                                    </div>
                                    <div class="media-body">
                                        <p>
                                            <a class="text-grey-900" href="https://www.c-sharpcorner.com/article/rownumber-function-in-microsoft-sql-server-how-to-use-rownumber-in-sql-ser/"> <h3>Tips and Tricks in ASP.NET Core</h3></a>
                                        </p>
                                        <a class="LinkOrange userName" href="https://www.c-sharpcorner.com/members/deependra-kushwaha">Deependra Kushwah</a>
                                        <div class="setRight">
                                            <span class="time">17/Mar/1997 15:34</span>
                                            <span class="vidoesViews"><i class="d-icon icon-view"></i> 11.6k</span>
                                        </div>
                                    </div>
                                </li>
                                <hr />
                            </ul>
                        </div>
                    </div>
                </div>



                @if (this.User.Identity.Name == Model.AuthorEmail)
                {
                    <div>
                        <div id="addCourseButton">
                            <h1><a asp-action="Create" asp-controller="Lectures"><i class="far fa-plus-square fa-4x"></i></a></h1>
                            <h3><a asp-action="Create" asp-controller="Lectures">Add Lecture</a></h3>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
<form method="post" id="antiForgery"></form>

@section Scripts{
    <script>
        window.addEventListener('load', setRating);
        function setRating() {
            var rateValue = @Model.CourseRateByCurrentUser;
            var selector = `#starsId  label.star-${rateValue}`;
            document.querySelector(selector).click();
        }
        function StarClicked(value) {
            var starValue = value;
            var courseId = @Model.Id;
            var data = { value: starValue, courseId: courseId };

            var antiForgeryToken = document.querySelector("#antiForgery input").getAttribute('value');

            var url = "/api/Rates";
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken,
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    var averageRating = data["averageRating"].toFixed(1);
                    var ratesCount = data["ratesCount"];

                    var ratesCountElement = document.getElementById("ratingsCount");

                    ratesCountElement.textContent = "";
                    ratesCountElement.textContent = `${ratesCount}`;

                    var ratingElement = document.getElementById("averageRating");

                    ratingElement.textContent = "";
                    ratingElement.textContent = `${averageRating}`;
                });
        }
    </script>
}