@model LearningCenter.Web.ViewModels.Courses.CourseViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div id="coursePageBg" class="bg-image bg-parallax overlay"></div>
<div id="coursePage" class=" white-text">
    <div class="card row">
        <div class="col-md-8">
            <div class="col-md-4">
                <img id="coursePhotoImg" src="@Model.ThumbnailUrl" class="card-img-top" width="350px" height="350px" alt="ThumbnailPhoto">
                <h1 class="card-title white-text">@Model.Title</h1>
                <ul>
                    <li><h4 class="white-text"><i class="fas fa-dollar-sign"></i> Price: $@Model.Price</h4></li>
                    <li><h4 class="white-text"><i class="fas fa-user-tie"></i> Author: <a asp-action="Index" asp-controller="Account" asp-route-id="@Model.AuthorId"><u>@Model.AuthorName</u></a>  </h4></li>
                    <li><h4 class="white-text"><i class="fas fa-history"></i> Created on: @Model.CreatedTimeFormated</h4></li>
                    <li><h4 class="white-text"><i class="fas fa-star-half-alt"></i> Rating: @Model.AverageRating (@Model.RatingsCount)</h4></li>
                </ul>
            </div>
            <div id="courseDescription" class="col-md-7">
                <div class="card-body">
                    <a asp-action="AddCourseInBag" asp-controller="Courses" asp-route-id="@Model.Id" class="btn btn-success card-link">Add In Courses Bag</a>
                </div>
                <div class="container d-flex justify-content-center mt-200">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="white-text"><i class="far fa-star"></i> Rate course: </h3>
                        </div>
                        <div class="col-md-2">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star" onclick="StarClicked(5)" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" onclick="StarClicked(4)" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" onclick="StarClicked(3)" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" onclick="StarClicked(2)" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" onclick="StarClicked(1)" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-text"><b>Description: </b>@Model.Description</p>
            </div>
        </div>
        <div class="col-md-4">
            <h1 class="white-text">LECTURES:</h1>
            @if (this.User.Identity.Name == Model.AuthorEmail)
            {
                <div>
                    <div id="addCourseButton" class="text-center col-md-3">
                        <h1><a asp-action="Create" asp-controller="Lectures"><i class="far fa-plus-square fa-5x"></i></a></h1>
                        <h3><a asp-action="Create" asp-controller="Lectures">Add Lecture</a></h3>
                    </div>
                </div>
            }
        </div>

        @*<div class="card-body col-md-4 text-center">
                <p class="card-text">@Model.Description</p>
                <ul class="list-group">
                    <li class="">Cras justo odio</li>
                    <li class="">Dapibus ac facilisis in</li>
                    <li class="">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a asp-action="AddCourseInBag" asp-controller="Courses" asp-route-id="@Model.Id" class="btn btn-success card-link">Add In Courses Bag</a>
                </div>
            </div>*@

    </div>
</div>

@section Scripts{
    <script>
        function StarClicked(value) {
            console.log(value);
        }
    </script>
}