@page
@using LearningCenter.Data.Models.Enums
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div id="loginRegisterPage" class="row bg-image bg-parallax overlay">
    <div class="col-md-12">
        <h2 class="white-text">@ViewData["Title"]</h2>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4 class="loginRegisterTextColor">Create a new account.</h4>
            <hr />
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control white-text" />
                    <span asp-validation-for="Input.FirstName" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control white-text" />
                    <span asp-validation-for="Input.LastName" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.BirthDate"></label>
                    <input asp-for="Input.BirthDate" class="form-control white-text" />
                    <span asp-validation-for="Input.BirthDate" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Gender"></label>
                    <select asp-for="Input.Gender" asp-items="@Html.GetEnumSelectList<GenderEnum>()" class="form-control">
                        <option selected="selected" value="">Please select your gender</option>
                    </select>
                    <span asp-validation-for="Input.Gender" class="bg-danger text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control white-text" />
                    <span asp-validation-for="Input.Email" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control white-text" />
                    <span asp-validation-for="Input.Password" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control white-text" />
                    <span asp-validation-for="Input.ConfirmPassword" class="bg-danger text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ProfilePicture"></label>
                    <input asp-for="Input.ProfilePicture" class="white-text" />
                    <span asp-validation-for="Input.ProfilePicture" class="bg-danger text-danger"></span>
                </div>
                <div id="userType" class="form-group">
                    <label asp-for="Input.UserType"></label>
                    @foreach (var type in System.Enum.GetValues(typeof(UserTypeEnum)))
                    {
                        <label asp-for="Input.UserType">| @type.ToString() </label>
                        <input type="radio" asp-for="Input.UserType" value="@((int)type)" />
                    }
                    <span asp-validation-for="Input.UserType" class="bg-danger text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Register</button>
            </div>

        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
