@model LearningCenter.Web.ViewModels.Categories.ChosenCategory
@{
    this.ViewData["Title"] = "Categories";
}
<div id="targetCategoryPage" class="bg-image bg-parallax overlay"></div>
<div id="subCategoryItems" class="col-md-2">
    <div class="text-center">
        <img class="card-img-top" width="175px" height="175px" src="~/img/@Model.ImageName" alt="Card image cap">
        <h3>@Model.Title</h3>

        <ul class="list-group">
            @foreach (var subCategory in Model.SubCategories)
            {
                <li class="list-group-item list-group-item-success"><a class="text-success" asp-controller="Subcategories" asp-action="GetSubcategory" asp-route-id="@subCategory.Id">@subCategory.Title (@subCategory.CoursesCount)</a> </li>
            }
        </ul>
    </div>
</div>
<div id="coursesList" class="col-md-10">
    @if (Model.Courses.Any())
    {
        <partial name="_ListCoursesPartial" model="@Model" />
    }
    else
    {

        <h2 class="white-text">There isn't any courses yet in this category!</h2>

    }
</div>

    @section Scripts{
        @*<script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.SiteKey"></script>
            <script>
                grecaptcha.ready(function () {
                    grecaptcha.execute('@GoogleReCAPTCHA.Value.SiteKey', { action: 'homepage' }).then(function (token) {
                    });
                });
            </script>*@
    }
